body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    background-color: #1f1f1f;
}
article{
display: flex;
flex-direction: column; /* 버튼을 늘림 */
}

.question{
    display: none; /* html에서 숨김 js를 통해 버튼 누를시 나타나게 함 */ 
}
.result{
    display: none;
}
#img{width: 300px; height: 300px; margin: 0 auto;}

.main-title{
    font-size: 25px;
    color: #7c7c7c;
}
.sub-title{
    font-size: 45px;
    font-weight: 100;
    color: #ebebeb;
}
.btn-start{
    font-size: 25px;
    color: #ff9300;
    background-color: #1f1f1f;
    border:#1f1f1f;
}
.start-cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-content{
    font-size: 25px;
    color: #ff9300;
}
.rectangle{
  width: 349px;
  height: 8px;
  background-color: #fffb1f;
  margin: 0 auto;
}
.mid-rectangle{
    width: 349px;
    height: 1px;
    background-color: #1f1f1f;
    margin: 0 auto;
}
.btn-answer, .btn-answer:focus{
    background-color: #363636;
    border: #fffb1f;
    width: 349px;
    margin: 0 auto;
    font-style: 13px;
    color: #ffffff;
    outline: none;
    box-shadow: none;
}
.btn-answer:hover{
    background-color: #ff9300;
    border: #1f1f1f;
    width: 349px;
    margin: 0 auto;
    font-style: 13px;
    color: #ffffff;
}
.progress-bar{
    background-color: #ff9300;
}
.progress{
    background-color: #525764;
}
.updown-slash{
    width: 166px;
    margin: 0 auto;
}
.result-message{
    color: #ff9300;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 100;
}
.result-animal{
    font-size: 18px;
    font-weight: 100;
    color: #ebebeb;
}
.result-explain {
    font-size: 18px;
    font-weight: normal;
    color: #ff9300;
  }
  .result-explain b{
    margin-bottom: 5px;
    color: #fffb1f;
    font-size: 20px;
  }
  .result {
    display: none;
  }

  .share{
      margin: 0 auto;
  }

  .kakao_ad{
      width: 320px;
      margin: 0 auto;
  }
  .rounded-circle{
      border-radius: 14%!important;
  }
  .start{
      position: relative;
    border-radius: 90px;
      border-style: solid;
      border-width: 8px;
      border-color:#fffb1f;
      padding-bottom: 15px;
      z-index: 6;
  }
  .money{
    width: 1110px;
  }
  .money-img img{
    width: 88%;
    height: 88%;
  }
  .money-img{
      position:absolute;
      top: 328px;
      left: 20%;
      margin: 0 auto;
      z-index: 5;
  }
  .progress-bar{
      background-color: #fffb1f!important;
  }